# Build output
build/
out/
cmake-build-*/
_deps/

# CMake
CMakeCache.txt
CMakeFiles/
CMakeUserPresets.json
cmake_install.cmake
CTestTestfile.cmake
Testing/
install_manifest.txt
*.cmake.stamp

# IDE
.vs/
.vscode/
.idea/
*.user
*.suo
compile_commands.json

# Prerequisites
*.d

# Compiled object files
*.slo
*.lo
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Logs
*.log
